*,
*::before,
*::after {
    position: relative;
    box-sizing: border-box;
    margin: 0;
}

:root {
    font-family: "Roboto Mono", system-ui, Avenir, Helvetica, Arial, sans-serif;
    line-height: 1.5;
    font-weight: 400;
    --primary-100: #ffffea;
    --primary-300: #ecebeb;
    --primary-500: #ededd6;
    --primary-900: #20200f;
    --app-bg: var(--primary-300);
    --cells-bg: var(--primary-100);
    --track-names-bg: var(--primary-500);
    --cell-idle-bg: var(--primary-100);
    --lines-lighter: color-mix(in srgb, var(--primary-900) 20%, transparent);
    --lines-darker: var(--primary-900);
    --text: var(--primary-900);

    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-text-size-adjust: 100%;
}

body {
    margin: 0;
    min-width: 320px;
    min-height: 100vh;
    background: var(--app-bg);
    color: var(--text);
    font-size: 24px;
}

.center-children {
    display: flex;
    place-content: center;
    place-items: center;
}

main {
    display: grid;
    grid-template-columns: repeat(27, 64px);
    grid-template-rows: repeat(101, 64px);
    gap: 0px;
    overflow: scroll;
    height: 517px;
    width: 288px;
    border: 1px solid var(--lines-darker);
}
main div {
    border: 0.5px solid var(--lines-lighter);
    display: flex;
    justify-content: center;
    align-items: center;
}
.track-names {
    background-color: var(--track-names-bg);
}

.cell {
    background-color: var(--cell-idle-bg);
}

.selected {
    fill: var(--circle-fill);
}
